.footer__container {
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.footer__logo {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.footer__socials-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  margin-top: 41px;
}

.footer__copyright {
  margin-top: 41px;
  display: flex;
  justify-content: center;
}

.footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-blu-sky;
}
