.reviews__container {
  @include container;
}

.reviews__list {
  @include list-style;
}

.reviews__list blockquote {
  display: block;
  margin: 0;
}

.reviews__list .reviews__item:nth-child(2),
.reviews__list .reviews__item:nth-child(3) {
  display: none;
}

.reviews__name {
  display: inline-block;
  margin-top: 50px;
  font-style: normal;
  font-size: inherit;
  line-height: 30px;
  font-weight: bold;
  text-align: center; //Почему не работает?
}

.reviews__text {
  margin: 0;
  margin-top: 31px;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blu-sky;
  text-align: center;
}

.reviews__toggles {
  margin-top: 44px;
  margin-bottom: 60px;
  text-align: center;
}
