.reviews__container {
  @include container;
  padding-bottom: 60px;

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.reviews__list {
  @include list-style;
}

.reviews__list blockquote {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__list .reviews__item:nth-child(2),
.reviews__list .reviews__item:nth-child(3) {
  display: none;
}

.reviews__name {
  display: inline-block;
  margin-top: 41px;
  font-style: normal;
  font-size: inherit;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reviews__info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    color: $dark-blu-sky;
    text-align: center;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 15px;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blu-sky;
  text-align: center;
}

.reviews__toggles {
  margin: 32px auto 0 auto;
}
