//colors
$black: #000000;
$white: #ffffff;
$grey: #f2f2f2;
$dark-blu-sky: #283645;
$dark-blu-sky-dif: #1d2631;
$pink: #d22856;
$very-light-shade-grey: #dedede;
$very-light-shade-grey-dif: #efefef;
//mixin
@mixin container {
  padding: 0 20px;
}

@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
