.contacts {
  @include container;

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.contacts__title {
  display: none;
}

.contacts__list {
  @include list-style;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;

  &-name {
    font-size: 14px;
    line-height: 30px;
    color: $pink;
    text-transform: uppercase;
  }

  &-text {
    font-size: 18px;
    line-height: 30px;

    &::placeholder {
      font-family: "Open Sans", "Arial", sans-serif;
      color: $dark-blu-sky;
    }
  }
}
