/*.emotion {
  @include container;
}*/

.emotion__title {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.emotion__text {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid $very-light-shade-grey-dif2;
  padding: 20px;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $dark-blu-sky;
  }
}
