.emotion__title {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 14px 38px;
  }
}

.emotion__text {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid $very-light-shade-grey-dif2;
  padding: 15px 20px;
  min-height: 200px;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    color: $dark-blu-sky;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: 42px auto 53px auto;
    height: 189px;
    width: 81%;
  }
}
