.progress {
  @include container;
  background-color: $grey;
  margin-top: -25px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding: 0;
    margin: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 130px;
  }
}

.progress__title {
  // display: block;
  padding-top: 110px;
  padding-bottom: 20px;
  // outline: 1px solid black;
}

.progress__list {
  @include list-style;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.progress__item {
  padding-bottom: 49px;

  @media (min-width: $desktop-width) {
    width: 33%;
    text-align: center;

    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:last-child {
      order: 6;
    }
  }
}

.progress__title {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;
}

.progress__name {
  font-size: 18px;
  line-height: 30px;
  color: $dark-blu-sky;
  padding-left: 22px;
}
