.your-name {
  @include container;

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.your-name__list {
  @include list-style;
}

.your-name__item {
  display: flex;
  flex-direction: column;

  &-name {
    font-size: 14px;
    line-height: 30px;
    color: $pink;
    text-transform: uppercase;
  }

  &-text {
    font-size: 18px;
    line-height: 30px;

    &::placeholder {
      font-family: "Open Sans", "Arial", sans-serif;
      color: $dark-blu-sky;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;

    &-name {
      margin-right: 20px;
    }

    &-text {
      width: 100%;
    }
  }
}
